#opdracht2 {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template: 1fr / 1 fr;
    grid-template-areas: 
        "i"
        "i"
        "i"
        "i"
        "i"
        "i"
        "i"
        "i";
    grid-gap: 20px;
    .item {
        position: relative;
        width: 100%;
        grid-area: "i";
        border-radius: 10px;
        transition-duration: 1000ms;
        transition-property: all;
        .preview {
            position: relative;
            width: 100%;
            border-radius: 10px;
            }
        .knop {
            position: absolute;
            top: 50%;
            left: 35%;
            display: none;
        }
        }
    .item:hover {
        background: #252B3E;
        .preview{
            opacity: 0;
        }
        .knop {
            display: initial;
        }
        }
    }
@media screen and (min-width:600px) {
    #opdracht2 {
        grid-template: 1fr 1fr / 45% 45%;
        grid-template-areas: 
            "i i"
            "i i"
            "i i"
            "i i";
        }
    }
@media screen and (min-width:1000px) { 
    #opdracht2 {
        display:grid;
        grid-template: 1fr 1fr 1fr / 30% 30% 30%;
        grid-template-areas: 
            "i i i"
            "i i i"
            "i i i";
        }
    }





